*, :root {
    margin: 0;
    padding: 0;
    
    position: relative;
    
    font-family: 'Raleway', sans-serif;
    
    box-sizing: border-box;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
    
    display: grid;
    
    grid-template-rows: 360px auto auto;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    
    grid-template-areas: 'left_padding header right-padding' 'left_padding content right_paddng'  'footer footer footer';
}

#root #content {
    grid-area: content;
    backdrop-filter: blur(36px);
    padding: 24px;
    border-radius: 5px;
}

#nav {
    grid-area: left_padding;
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    
    grid-template-areas: 'header' 'overview';
}

#nav div#overview {
    position: sticky;
    grid-area: overview;
}

#nav #logo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 24px;
    
}

#nav #logo img {
    border-radius: 512px;
}

#nav nav#main {
    display: grid;
    grid-auto-rows: 24px;
    padding: 2px;
    
    gap: 2px;
}

#nav nav#main .indented {
    padding-left: 24px;
    
    display: grid;
    grid-auto-rows: 24px;
    
    gap: 2px;
}

.button {
    border-radius: 3px;
    background: linear-gradient(#E2e6ea, #Dadde2);
    border: 1px solid #C4c7c9;
    box-shadow: 0 0 2px rgba(55, 55, 55, 15%);
    color: #616671;
    text-decoration: none;
    
    line-height: 24px;
    text-align: center;
    font-size: 9pt;
    font-family: poppins;
    
}

.button:active {
    background: linear-gradient(#Dadde2, #E2e6ea);
    border: 1px solid #8d9193;
    padding: 2px;
}